@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@layer base{
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: 'Inter', sans-serif;

  }
}

body {
  background-color: #080b11;
  color: rgb(214, 214, 214);
}

.fontMonospace {
  font-family: 'Fira code';
}

.btn-primary {
  background-color: #4e2b94;
  padding: 8px 16px;
  border-radius: 8px;
}

.btn-secondary {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.035);
  padding: 8px 16px;
  border-radius: 8px;
}

.pill {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.035);
  padding: 4px;
  border-radius: 8px;
}

.rowFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projectCard {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.035);
  padding: 16px;
  border-radius: 8px;
}