@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import 'tailwindcss';
@layer base{
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Mono';
  }
}

@theme {
  --color-bg: #0f0f0e;
  --color-hero: #d0cfca;
  --color-body: #484846;
  --color-comment: #252523;
  --color-divider: #191918;
  --color-purple-accent: #6a66a8;
  --color-purple-hover: #9a96d8;
  --color-purple-sub: #5a56a0;
  --color-nav: #2a2a28;
  --color-stack: #2e2e2c;
  --color-dot: #2a4232;
}

body {
  background-color: #0f0f0e;
  color: rgb(214, 214, 214);
}